* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  
  }
  
  body {
    line-height: 1;
    font-weight: 400;
    color: #555;
  }
  footer{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #dfdddd;
    padding-top: 5px;
    
  }
  #myVideo {
  
/*     position: fixed; */
    right: 0;
    bottom: 0;
    max-width: 100%;
      max-height: 100%
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 7.6rem;
    padding: 0 4.8rem;
    position: absolute;
    width: 100%;
    z-index: 1001;
  }
  
  .logo {
    height: 13rem;
    transition: all 0.4s;
  
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .main-nav {
    z-index: 1001;
  }
  
  .main-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4.8rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    text-decoration: none;
    color: #f8f4ef;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.2s;
    margin-right: 20px;
  }
  
  .main-nav-link:hover {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 9px;
    color: #000;
    background-color: #fff;
  }
  
  
  
  .section-hero {
  
    background-color: #000000;
    padding: 0 0 2rem 0;
    height: 100%;
  }
  
  .hero {
  
    max-width: 130em;
    margin: 0 auto;
    padding: 25rem 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }
  
  .paragraph-title {
  
    font-size: 2.4rem;
    color: #f8f4ef;
    margin-bottom: 3.2rem;
    z-index: 10;
  }
  
  .hero-description {
  
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1.05;
    color: #f8f4ef;
    letter-spacing: -0.5px;
    margin-bottom: 4.8rem;
    z-index: 10;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
    background-color: #000;
    color: #f8f4ef;
    text-decoration: none;
    font-size: 2 rem;
    padding: 1rem 1.6rem;
    border-radius: 9px;
    border: 0.5px solid #fff;
  
  }
  
  .btn:hover,
  .btn:active {
    background-color: #fff;
    color: #000;
  }
  
  .earth {
    width: 300px;
    height: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://www.bleepstatic.com/content/hl-images/2021/09/22/Hacker_threat_actor.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px rgba(35, 105, 204, 0.473) inset,
      0 0 20px 2px rgba(34, 122, 222, 0.618);
    animation: anime 15s linear alternate infinite;
    z-index: 10;
  }
  
  .card-body a {
    margin-top: 20px;
  }
  
  @keyframes anime {
    100% {
      background-position: 100%;
    }
  }
  
  
  .paragraph-title1 {
    font-size: 2.4rem;
    color: #f8f4ef;
    margin-top: 3.2rem;
    z-index: 10;
  }
  
